<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon" />
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Job offers", "Index", "JobOffer", null, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Company") || User.IsInRole("Admin") || User.IsInRole("Jobseeker"))
                    {
                        <li>@Html.ActionLink("Job Applications", "Index", "JobApplication", null, new { @class = "nav-link" })</li>
                        if (User.IsInRole("Company") || User.IsInRole("Admin"))
                        {
                        <li>@Html.ActionLink("Your Job Offers", "CustomJobOffer", "JobOffer", null, new { @class = "nav-link" })</li>
                        }
                     }
                </ul>
                <ul class="navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span> @User.Identity.Name.Split('@')[0] <b class="caret grey"></b></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Account</div>
                                @if (User.IsInRole("Company"))
                                {
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Profile", "Index", "Company", null, new { @class = "dropdown-item" })
                                }
                                else
                                {
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Profile", "Index", "Jobseeker", null, new { @class = "dropdown-item" })
                                }
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret grey"></b></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Get started</div>
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Register as a Company", "RegisterCompany", "Account", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Register as a Jobseeker", "RegisterJobseeker", "Account", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                  </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
