@model BusinessLayer.DataTransferObjects.CompanyDTO
@{
    ViewBag.Title = "CompanyDetailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompanyDetailView</h2>

<h4>Id</h4>
<p>@Model.Id</p>


<h4>Name</h4>
<p>@Model.Name</p>

<br />
<h4>Description</h4>
<p>@Model.Description</p>

<br />
<h4>Location</h4>
<p>@Model.Location</p>

<br />
<h4>Phone contact</h4>
<p>@Model.PhoneNumber</p>

