<br />
<h3>Your applications:</h3>
<hr />
<div class="row w-100 p-3">
    <div class="col-lg-12">
        <div class="list-group text-center">
            @using (Html.BeginForm("Cancel", "JobApplication", FormMethod.Post))
            {
                foreach (var jobApplication in Model.JobApplications)
                    {
                        <div class="list-group-item" style="height:auto;">
                            <div class="d-flex w-100 justify-content-between ">
                                <small>Company: @jobApplication.JobOffer.Company.Name</small>
                            </div>

                            <div class="d-flex w-100 justify-content-between ">
                                <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; ellipsis; white-space: normal;">
                                    @jobApplication.JobOffer.Name
                                </p>
                            </div>

                            <div class="d-flex w-100 justify-content-between ">
                                <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; ellipsis; white-space: normal;">
                                    Salary: @jobApplication.JobOffer.Salary
                                </p>
                            </div>

                            <div class="btn-group d-flex w-100 align-content-end">
                                <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; ellipsis; white-space: normal;">
                                    Status: @jobApplication.ApplicationStatus
                                </p>
                                @if (jobApplication.ApplicationStatus == DataAccessLayer.Enums.ApplicationStatus.Undecided)
                                {
                                    <button class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Cancel", "JobApplication", new { jobApplicationId = jobApplication.Id })'" /> 
                                }
                            </div>
                        </div>
                    }}
            </div>
    </div>
</div>
