@model PresentationLayer.Models.JobOfferDetailsModel


@{
    ViewBag.Title = "Job Offer";
}

<h2>Job Offer</h2>

<h4>Name</h4>
<p>@Model.Name</p>

<br />
<h4>Description</h4>
<p>@Model.Description</p>

<br />
<h4>Company</h4>
<p>@Model.Company.Name</p>

<br />
<h4>Phone contact</h4>
<p>@Model.Company.PhoneNumber</p>

<br />
<h4>Location</h4>
<p>@Model.Location</p>

<br />
<h4>Salary</h4>
<p> @Model.Salary</p>

@using (Html.BeginForm("Apply", "JobApplication", new { jobOfferId = Model.Id }))
{
    <div>
        @Html.HiddenFor(x => Model.Id)
        @Html.HiddenFor(x => Model.Description)
        @Html.HiddenFor(x => Model.Company)
        @Html.HiddenFor(x => Model.Name)
        @Html.HiddenFor(x => Model.Location)
        @Html.HiddenFor(x => Model.Salary)
        <div class="btn-group">
            <input type="submit" class="btn btn-success" id="btnSubmit" value="Apply" />
        </div>
    </div>
}

