@using X.PagedList.Mvc
@using Humanizer
@model PresentationLayer.Models.JobOfferListViewModel

@{
    ViewBag.Title = "JobOfferListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    @Styles.Render("~/Content/css/tree.css")
    @Styles.Render("~/Content/css/PagedList.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}

<div class="row w-100 p-3">
        <div class="col-lg-12">
        <div class="input-group mb-4 border rounded-pill p-1">
            <input type="search" id="search_id" placeholder="What're you searching for?" aria-describedby="button-addon4" class="col-lg-12 form-control bg-none border-0">
        </div>
            </div>
    </div>
<div class="row w-100 p-3">
    <div class="col-lg-12">
        <div class="list-group text-center">
            @{foreach (var jobOffer in Model.JobOffers)
                {
                    //<div class="col col-lg-12 py-2">
                    <div class="list-group-item list-group-item-action clickable-area" style="height: 120px;" @("onclick=GoToDetail('" + jobOffer.Id + "')")>
                        <div class="d-flex w-100 justify-content-between ">
                            <h3 class="mb-3" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="thumbnail-label">@jobOffer.Name</h3>
                            <small>@jobOffer.CreationTime.Humanize()</small>
                        </div>


                        @if (jobOffer.Company.Location != null)
                        {
                            <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; text-overflow: ellipsis; white-space: normal;">
                                @jobOffer.Company.Name (Location: @jobOffer.Company.Location, Phone Number: @jobOffer.Company.PhoneNumber)
                            </p>
                        }
                        else
                        {
                            <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; text-overflow: ellipsis; white-space: normal;">
                                @jobOffer.Company.Name (Phone Number: @jobOffer.Company.PhoneNumber)
                            </p>
                        }
                        <div class="d-flex w-100 justify-content-between ">
                            <p class="mb-1" style="width: 100%; overflow: hidden; text-align:left; ellipsis; white-space: normal;">
                                Location: @jobOffer.Location
                            </p>
                            <span class="badge badge-pill badge-warning">@jobOffer.Salary €/month</span>
                        </div>
                    </div>
                    //</div>
                }}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    @Html.PagedListPager(Model.JobOffers, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>

<script>
    function GoToDetail(id) {
        window.location = "/JobOffer/Details/" + id;
    }
</script>

@section scripts{
    @Scripts.Render("~/Scripts/tree.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Scripts/slider.js")
}