@model BusinessLayer.DataTransferObjects.JobOfferDTO


@{
    ViewBag.Title = "JobOfferDetailView";
}

<h2>JobOfferDetailView</h2>

<h4>Id</h4>
<p>@Model.Id</p>


<h4>Name</h4>
<p>@Model.Name</p>

<br />
<h4>Description</h4>
<p>@Model.Description</p>

<br />
<h4>Company</h4>
<p>@Model.Company.Name</p>

<br />
<h4>Phone contact</h4>
<p>@Model.Company.PhoneNumber</p>

<br />
<h4>Location</h4>
<p>@Model.Location</p>

<br />
<h4>Salary</h4>
<p>@Model.Salary</p>

<div class="btn-group">
    <button class="btn btn-success" id="btnSubmit" type="submit" onclick="@*TODO*@">Apply</button>
</div>

