@model PresentationLayer.Models.JobOfferListViewModel

@{
    ViewBag.Title = "JobOfferListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    @Styles.Render("~/Content/css/tree.css")
    @Styles.Render("~/Content/css/PagedList.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}

<div class="row">
    <div class="col-md-9">
        <div class="card-deck mb-3 text-center">
            @{foreach (var jobOffer in Model.JobOffers)
                {
                    <div class="col-md-4 d-flex py-2">
                        <div class="card clickable-area" @("onclick=GoToDetail('" + jobOffer.Id + "')")>

                            <div class="card-body">
                                <h5 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="thumbnail-label">@jobOffer.Name</h5>

                                <p class="card-text" style="height: 80px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify;">
                                    @jobOffer.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }}
        </div>
    </div>
</div>

<script>
    function GoToDetail(id) {
        window.location = "/JobOffer/Details/" + id;
    }
</script>

@section scripts{
    @Scripts.Render("~/Scripts/tree.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Scripts/slider.js")
}